.vscode/
.idea/
.DS_Store
*.js
!src/*-hooks.js
*.js.map
build/
*.log.*
src/*.d.ts
!src/firebase.d.ts
!src/index.d.ts
!src/references.d.ts
!src/scripts/*.js
!demo/karma.conf.js
!demo/app/tests/*.js
demo/*.d.ts
!demo/references.d.ts
demo/lib
demo/platforms
demo/.nsbuildinfo
node_modules
demo/report/report.html
demo/report/stats.json
!publish/scripts/*.js
publish/package
