.vscode/
.idea/
.DS_Store
package-lock.json
*.js
!src/*-hooks.js
build/
*.log.*
src/**/*.d.ts
src/platforms/ios_lib/TNSMLKitCamera/TNSMLKitCamera.xcodeproj/project.xcworkspace
src/platforms/ios_lib/TNSMLKitCamera/TNSMLKitCamera.xcodeproj/xcuserdata
src/platforms/ios/Podfile
src/platforms/ios/build.xcconfig
src/platforms/android/include.gradle
!src/firebase.d.ts
!src/index.d.ts
!src/references.d.ts
!src/analytics/analytics.d.ts
!src/storage/storage.d.ts
!src/messaging/messaging.d.ts
!src/mlkit/*/index.d.ts
!src/mlkit/mlkit-cameraview.d.ts
!src/platforms/web/typings/firebase-webapi.d.ts
!src/platforms/ios/typings/*.d.ts
!src/platforms/android/typings/**/*.d.ts
!src/scripts/*.js
!demo/karma.conf.js
demo/*.d.ts
demo-ng/*.d.ts
!demo/references.d.ts
!demo-ng/references.d.ts
demo/lib
demo-ng/lib
demo/platforms
demo-ng/platforms
node_modules
demo/report/report.html
demo/report/stats.json
!publish/scripts/*.js
publish/package
/npm-debug.log
