android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-23
    - android-26
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-21

before_cache:
    - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
    directories:
        - .nvm
        - $HOME/.gradle/caches/
        - $HOME/.gradle/wrapper/

install:
    - echo no | npm install -g nativescript
    - tns usage-reporting disable
    - tns error-reporting disable
    - cd src
    - npm i --ignore-scripts
    - npm run tsc
    - npm run package
    - cd ../demo
    - npm i

script:


matrix:
  include:
    - stage: "Lint"
      language: node_js
      os: linux
      node_js: "8"
      script: "npm run ci.tslint"
    - stage: "WebPack"
      os: osx
      env:
        - Webpack="iOS"
      osx_image: xcode9.2
      language: node_js
      node_js: "8"
      jdk: oraclejdk8
      before_install:
        - gem install cocoapods
        - pod repo update
      script: travis_wait travis_retry tns build ios --bundle
    - language: android
      os: linux
      env:
        - Webpack="Android"
      jdk: oraclejdk8
      before_install: nvm install 8.9.1
      script: travis_wait travis_retry tns build android --bundle
    - stage: "Build"
      env:
        - BuildAndroid="26"
      language: android
      os: linux
      jdk: oraclejdk8
      before_install: nvm install 8.9.1
      script:
        - travis_wait travis_retry tns build android
    - os: osx
      env:
        - BuildiOS="11"
        - Xcode="9.2"
      osx_image: xcode9.2
      language: node_js
      node_js: "8"
      jdk: oraclejdk8
      before_install:
        - gem install cocoapods
        - pod repo update
      script:
        - travis_wait travis_retry tns build ios
