/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import 'nativescript-theme-core/css/core.light.css';

.tab-content {
  margin: 8;
}

label {
  padding: 6;
  font-size: 14;
  text-align: center;
}

.h2 {
  font-size: 17;
  font-weight: bold;
  margin: 22 0 0 0;
}

button {
  background-color: #6494AA;
  padding: 8 10;
  margin: 4 8;
  font-size: 13;
  border-radius: 4;
}

.button {
  color: #ffffff;
}

.button-positive {
  background-color: #90A959;
}

.button-user {
  background-color: #E0A458;
}

.button-state {
  background-color: #64A4FF;
}

.button-company {
  background-color: #A63D40;
}

.button-storage {
  background-color: #54AA77;
}

.button-analytics {
  background-color: #BBBB77;
}

.button-messaging {
  background-color: #6d996c;
}

.button-crash {
  background-color: #d52c1e;
}

.button-invites {
  background-color: #1832d5;
}

.mlKitCamera {
  /*border-radius: 20;*/
  /*border-width: 8;*/
  /*border-color: #ddd;*/
  width: 280;
  height: 280;
  margin-top: 16;
}
