<GridLayout rows="auto, auto, *" class="tab-content">

  <Label row="0" text="Pick the image processing source:" textWrap="true"></Label>

  <StackLayout row="1" orientation="horizontal" horizontalAlignment="center">
    <Button text="Cameraroll" (tap)="fromCameraroll()" class="button"></Button>
    <Button text="Cam picture" (tap)="fromCameraPicture()" class="button"></Button>
    <Button text="Cam feed" (tap)="fromCameraFeed()" class="button"></Button>
  </StackLayout>

  <Image row="2" [src]="pickedImage" width="240" horizontalAlignment="center"></Image>
</GridLayout>
