*.map
*.ts
!*.d.ts
tsconfig.json
references.d.ts
platforms/android/libraryproject/
platforms/ios/typings/
platforms/ios_lib/
platforms/android/typings/
platforms/web
platforms/ios/Podfile
platforms/android/include.gradle
